In [1]:
import pandas as pd
import numpy as np

In [3]:
dataframe = pd.read_csv("/content/drive/MyDrive/Concept and technologies of AI/Titanic-Dataset.csv")
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Problem-1(sorting)

1

In [4]:
df_onlyfare = dataframe.sort_values(by="Fare")
fare= df_onlyfare["Fare"]
fare.head()

815    0.0
806    0.0
413    0.0
481    0.0
302    0.0
Name: Fare, dtype: float64

2

In [5]:
df_onlyclass_age = dataframe.sort_values(by=["Pclass", "Age"])
class_age = df_onlyclass_age[["Pclass", "Age"]]
class_age.head()

     Pclass    Age
305       1   0.92
297       1   2.00
445       1   4.00
802       1  11.00
435       1  14.00

3

In [6]:
df_onlygender = dataframe.sort_values(by=["Survived", "Sex"])
survived_gender = df_onlygender[["Survived", "Sex"]]
survived_gender.head()

    Survived     Sex
14         0  female
18         0  female
24         0  female
38         0  female
40         0  female

problem-2

subsetting rows 1

In [7]:
fare_gt_100 = dataframe.loc[dataframe["Fare"]>100, ["PassengerId", "Fare"]]
print(fare_gt_100)

     PassengerId      Fare
27            28  263.0000
31            32  146.5208
88            89  263.0000
118          119  247.5208
195          196  146.5208
215          216  113.2750
258          259  512.3292
268          269  153.4625
269          270  135.6333
297          298  151.5500
299          300  247.5208
305          306  151.5500
306          307  110.8833
307          308  108.9000
311          312  262.3750
318          319  164.8667
319          320  134.5000
325          326  135.6333
332          333  153.4625
334          335  133.6500
337          338  134.5000
341          342  263.0000
373          374  135.6333
377          378  211.5000
380          381  227.5250
390          391  120.0000
393          394  113.2750
435          436  120.0000
438          439  263.0000
498          499  151.5500
505          506  108.9000
527          528  221.7792
537          538  106.4250
544          545  106.4250
550          551  110.8833
557          558  227.5250
581          582  110.8833
609          610  153.4625
659          660  113.2750
660          661  133.6500
679          680  512.3292
689          690  211.3375
698          699  110.8833
700          701  227.5250
708          709  151.5500
716          717  227.5250
730          731  211.3375
737          738  512.3292
742          743  262.3750
763          764  120.0000
779          780  211.3375
802          803  120.0000
856          857  164.8667

2

In [8]:
first_class = dataframe.loc[dataframe["Pclass"]==1, ["Name", "Pclass"]]
print(first_class)

                                                  Name  Pclass
1    Cumings, Mrs. John Bradley (Florence Briggs Th...       1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
6                              McCarthy, Mr. Timothy J       1
11                            Bonnell, Miss. Elizabeth       1
23                        Sloper, Mr. William Thompson       1
..                                                 ...     ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)       1
872                           Carlsson, Mr. Frans Olof       1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)       1
887                       Graham, Miss. Margaret Edith       1
889                              Behr, Mr. Karl Howell       1

[216 rows x 2 columns]

3

In [9]:
female_under_18 = dataframe.loc[(dataframe["Age"]<18) & (dataframe["Sex"]== "female"), ["Age" , "Sex"]]
print(female_under_18)

       Age     Sex
9    14.00  female
10    4.00  female
14   14.00  female
22   15.00  female
24    8.00  female
39   14.00  female
43    3.00  female
58    5.00  female
68   17.00  female
71   16.00  female
84   17.00  female
111  14.50  female
114  17.00  female
119   2.00  female
147   9.00  female
156  16.00  female
172   1.00  female
184   4.00  female
205   2.00  female
208  16.00  female
233   5.00  female
237   8.00  female
297   2.00  female
307  17.00  female
329  16.00  female
374   3.00  female
381   1.00  female
389  17.00  female
419  10.00  female
435  14.00  female
446  13.00  female
448   5.00  female
469   0.75  female
479   2.00  female
504  16.00  female
530   2.00  female
535   7.00  female
541   9.00  female
542  11.00  female
618   4.00  female
634   9.00  female
642   2.00  female
644   0.75  female
689  15.00  female
691   4.00  female
720   6.00  female
750   4.00  female
777   5.00  female
780  13.00  female
781  17.00  female
813   6.00  female
830  15.00  female
852   9.00  female
853  16.00  female
875  15.00  female

subsetting rows by variables 1

In [10]:
embarked_c_or_s = dataframe.loc[(dataframe["Embarked"]== "C") | (dataframe["Embarked"]=="S"), ["PassengerId", "Embarked"]]
print(embarked_c_or_s)

     PassengerId Embarked
0              1        S
1              2        C
2              3        S
3              4        S
4              5        S
..           ...      ...
884          885        S
886          887        S
887          888        S
888          889        S
889          890        C

[812 rows x 2 columns]

2

In [11]:
first_second_class = dataframe.loc[dataframe["Pclass"].isin([1,2]), ["PassengerId", "Pclass"]]
print(first_second_class)

     PassengerId  Pclass
1              2       1
3              4       1
6              7       1
9             10       2
11            12       1
..           ...     ...
880          881       2
883          884       2
886          887       2
887          888       1
889          890       1

[400 rows x 2 columns]

Exercise 3.2

filling the missing values usinf fillna

In [13]:
dataframe["Age"]= dataframe["Age"].fillna(dataframe["Age"].median())

Highest fare paid relative to age

In [14]:
dataframe["fare_per_year"]= dataframe["Fare"]/dataframe["Age"]
high_fare_age = dataframe.loc[dataframe["fare_per_year"] > 5]
high_fare_age_srt = high_fare_age.sort_values(by="fare_per_year", ascending=False)
result = high_fare_age_srt[["Name", "fare_per_year"]]
print(result)

                                               Name  fare_per_year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]

adult male passenger paid highest fare relative to their class

In [15]:
dataframe["fare_by_class"]=dataframe["Fare"]/dataframe["Pclass"]
adult_males=dataframe.loc[(dataframe["Sex"] == "male") & (dataframe["Age"]>=18)]
adult_males_srt=adult_males.sort_values(by="fare_by_class", ascending=False)
result=adult_males_srt[["Name", "Age", "fare_by_class"]]
print(result)

                                   Name   Age  fare_by_class
737              Lesurer, Mr. Gustave J  35.0       512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0       512.3292
27       Fortune, Mr. Charles Alexander  19.0       263.0000
438                   Fortune, Mr. Mark  64.0       263.0000
118            Baxter, Mr. Quigg Edmond  24.0       247.5208
..                                  ...   ...            ...
179                 Leonard, Mr. Lionel  36.0         0.0000
732                Knight, Mr. Robert J  28.0         0.0000
822     Reuchlin, Jonkheer. John George  38.0         0.0000
806              Andrews, Mr. Thomas Jr  39.0         0.0000
815                    Fry, Mr. Richard  28.0         0.0000

[519 rows x 3 columns]

3.3

Total revenue from each passenger class

In [16]:
total_fare = dataframe["Fare"].sum()
class1_fare = dataframe.loc[dataframe["Pclass"]==1,"Fare"].sum()#didnot keep["fare"]since we wanted a number not series
class2_fare= dataframe.loc[dataframe["Pclass"]==2,"Fare"].sum()
class3_fare= dataframe.loc[dataframe["Pclass"]==3,"Fare"].sum()
classfare_list= [class1_fare, class2_fare, class3_fare]
revenue = [i/total_fare * 100 for i in classfare_list]
print(revenue)

[np.float64(63.349287718996564), np.float64(13.24962855496507), np.float64(23.401083726038365)]

percent of total number of passengers belonging to diff age group

In [17]:
dataframe["Age"]= dataframe["Age"].fillna(dataframe["Age"].median())
def age_check(age):
  if age <18:
    return "child";
  elif age < 65:
    return "adult";
  else:
    return "senior";

dataframe["age_group"] = dataframe["Age"].apply(age_check)
total_passengers = len(dataframe)
passengers_in_each_agegroup = dataframe.groupby("age_group")["Name"].count()
passengers_in_each_agegroup_percent = (passengers_in_each_agegroup/total_passengers)*100
print(passengers_in_each_agegroup_percent)

age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: Name, dtype: float64